/*Reset browser default styles*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/*The grey you see around the sides*/
body {
    background-color: #f1f1f1;
    display: block;
}

/*The website area*/
.container {
    width: 1020px;
    height: 100%;
    background-color: #fff;
    border-top: solid #2b2d32 thick;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    width: 100%;
    height: 63px;
    padding: 15px 0 15px;
    display: flex;
    justify-content: space-between;     /*Thise spaces out the divs horizontally along the width*/
}
.header-input {
    margin-top: 15px;       /*to be centered vertically with the logo*/
}
input {
    width: 140px;
    padding-left: 10px;
    margin-left: 15px;
    height: 36px;
    border-style: hidden;
    border: solid thin #eee;
}
button {
    width: 70px;
    height: 37px;
    margin-left: -5px;      /*Bring closer to the input textbox*/
    background-color: #a21a1a;
    color: #fff;
    border-style: none;
    cursor: pointer;
}

.header-logo img {
    width: 300px;
    height: 58px;
}
.social-links {
    margin-top: 20px;       /*to be centered vertically with the logo*/
}
.social-links li {
    display: inline;        /*Make list items display horizontally*/
    margin-right: 15px;
}
.social-links i {
    font-size: 1.2rem;
    padding-right: 10px;
}

.social-links li a {
    color: #2b2d32;
    text-decoration: none;      /*Remove any styling*/
}

nav {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: #eee solid thin;
}

nav ul {
    display: flex;
    justify-content: space-between;  
    list-style: none;  
}
nav li {
    padding-top: 20px;
    padding-bottom: 20px;       /*Make the links a bit bigger*/
    font-weight: 500;
    border-bottom: solid 3px #fff;
    transition: 500ms;
}

nav li:hover {
    border-bottom: solid 3px #2b2d32; 
    transition: 500ms;
}

nav li a {
    color: #2b2d32;
    text-decoration: none;
    cursor: pointer;
}

.article {
    margin-top: 20px;
    width: 65%;
    border-right: solid thin #eee;
    padding: 5px;
    clear: both;
    display: block;
    float: left;
}

#article-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

/*div for the social media buttons above article*/
.article-social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.article-social li {
    display: inline;
}
.article-social i {
    font-size: 2rem;
    margin-right: 10px;
    transition: 300ms;
}
/*Add hover effect to turn icons dark and a smooth transition*/
.article-social i:hover {
    color: #2b2d32;
    transition: 300ms;
}

.article-social a {
    text-decoration: none;
}

.article-text {
    margin-top: 20px;
}

.next-article {
    padding: 20px;
    border-top: solid thin #eee;
    border-bottom: solid thin #eee;
    margin-top: 20px;
}
.next-article a{
    text-decoration: none;
}
.tags {
    margin-top: 20px;
}
.tags ul {
    display: flex;
    gap: 10px;                         /*align horizontally with a gap in between*/
    list-style: none;
    
}
.tags li{
    border: solid thin #2b2d32;       /*Button like styling on the tags*/
    padding: 5px 20px 5px 20px; 
    transition: 300ms;
}
.tags li a{
    color: #2b2d32;
    text-decoration: none;
}

.tags li:hover {                        /*hover effects on tag buttons*/
    background-color: #2b2d32;
    color: #fff;
    transition: 300ms;
}
.tags li a:hover{
    color: #fff;
    text-decoration: none;
}

.article-share {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 5px;
}

.article-share button {
    width: 100%;
    border: solid thin #2b2d32;
    color: #fff;
    font-weight: 700;
    transition: 300ms;
}
.article-share button:hover {
    background-color: #2b2d32;
    transition: 300ms;
}
.fb {
    background-color: #3B5998;      /*facebook button*/
}
.tw {
    background-color: #55ACEE;      /*twitter button*/
}

.forum-link {
    margin-top: 20px;
}
.forum-link button{
    background-color: #2b2d32;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
}

/*Side bar starts here*/

.sidebar {
    display: block;
    width: 31.5%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.follow-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 15px;

}
/*Social media buttons*/
.follow-icons i {
    font-size: 1.3rem;
    border: solid thin #eee;
    color: #2b2d32;
    width: 20px;
    text-align: center;
    height: 20px;
    padding: 10px;
    transition: 300ms;
    cursor: pointer;
}
.follow-icons i:hover {
    background-color: #eee;
    transition: 300ms;
}
.side-input {
    margin-top: 20px;
    width: 100%;
}
.side-input input {
    width: 60%;
}
.side-input button {
    width: 24%;
}

/*Radio buttons for the poll*/

/* The container */
.poll {
margin-top: 20px;
}

.poll h3 {
    margin-top: 20px;
}
.container-poll {
    margin-top: 20px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1em;
    cursor: inherit;
  }

  /* Hide the browser's default radio button */
.container-poll input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: solid 1px #2b2d32;
    background-color: #fff;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
.container-poll:hover input ~ .checkmark {
    background-color: #eee;
  }

  /* When the radio button is checked, add a blue background */
.container-poll input:checked ~ .checkmark {
    background-color: #fff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
.container-poll input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
.container-poll .checkmark:after {
    top: 2px;
   left: 2px;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   background: #555;
}
/*Vote button*/
.vote {
    margin-top: 30px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    color: #2b2d32;
    border: #2b2d32 1px solid;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    transition: 300ms;
}

/*Add dark background on hover*/
.vote:hover {
    background-color: #2b2d32;
    color: #fff;
    transition: 300ms;
}

.poll p {
    text-align: center;
    margin-top: 20px;
}
/*Making the view results as a clickable link*/
.poll a {
    text-decoration: none;
    color: #2b2d32;
}

footer {
    clear: both;
    background-color: #2b2d32;
    /*Have list appear vertically*/
    display: flex;                  
    justify-content: space-between; 
    padding: 20px 20px 0 20px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

footer ul {
    list-style: none;
}

footer li {
    padding-top: 10px;
}

footer li a{
    text-decoration: none;
    color: #ccc;
}
footer li a:hover {
    color: #fff;
}
